body {
    background-color: rgb(77, 77, 85);
}

img {
    margin-top: 70px;
    margin-left: 180px;
    width: 900px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}

#link {
    text-decoration: none;
    color: white;
}

#game {
    background-color: #f3dc0b;
}